.characteristics {
  border: 1px solid #ffffff1a;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 30px 15px 20px;
  position: relative;

  th:first-of-type {
    padding-left: 15px;
  }

  &__row {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 148.5%;
    align-items: center;
    letter-spacing: 0.02em;
    color: #ffffff6d;
    border-top: 1px solid #e0e0e01a;
    border-bottom: 1px solid #e0e0e01a;

    td {
      min-width: 200px;
    }
    td:first-child {
      padding-left: 15px;
    }

    td:last-child {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 32px;
    }
  }

  &__percentage--red {
    background: linear-gradient(173.32deg, #fdd226 0%, #ff5753 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__percentage--green {
    background: linear-gradient(162.2deg, #44fd26 0%, #53ffb7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__graph {
    height: 5px;
    width: 200px;
    background-color: #eeeeee1a;
    border-radius: 5px;
  }

  &__stroke--green {
    background: linear-gradient(162.2deg, #44fd26 0%, #53ffb7 100%);
    height: 100%;
    border-radius: 5px;
  }

  &__stroke--red {
    background: linear-gradient(173.32deg, #fdd226 0%, #ff5753 100%);
    height: 100%;
    border-radius: 5px;
  }
}
