.deletenotification {
  width: 550px;
  height: 539px;
  position: fixed;
  top: 50%;
  left: calc(50% + 43px);
  transform: translate(-50%, -50%);
  background: linear-gradient(107.89deg, #2F394299 0%, #19243199 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 60px 100px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 6;

  @media screen and (max-width: 750px) {
    width: 75vw;
    height: 440px;
  }

  &__middle {
    box-sizing: border-box;
    padding: 10px;
  }

  &__top {
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    height: 257px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (max-width: 750px) {
      height: 150px;
    }

    &::after {
      content: "";
      background-image: url(../images/saddog.jpeg);
      background-position: center;
      background-size: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      opacity: 0.4;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    }
  }

  &__delete {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__title {
    margin: 0;
    font-family: Crimson Text;
    font-size: 48px;
    line-height: 140.62%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    line-height: 190%;
  }

  &__button {
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 13px 43px;
    border-radius: 34px;
    background: linear-gradient(107.89deg, #2F3942 0%, #192431 100%);
  }

  &__border {
    width: fit-content;
    margin: auto;
    background: linear-gradient(167.74deg, #FDD226 0%, #FF5753 100%);
    border-radius: 34px;
    padding: 1px;
    margin-bottom: 30px;
  }

  &__agreement {
    cursor: pointer;
    margin: 0;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #FF5753;
  }
}