.home {
  &__subheading {
    text-transform: uppercase;
    font-family: montserrat;
    font-size: 13px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin-top: 25px;
    font-weight: 500;
    opacity: 0.4;
  }

  &__middle {
    display: flex;

    @media screen and (max-width: 940px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 570px) {
      justify-content: center;
    }
  }

  &__bottom {
    display: flex;
    margin-top: 25px;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }
}
